.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;

    z-index: 999;
}


.topbarLeft {
    flex: 3;

}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}

.topbarCenter {
    flex: 5;

}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    position: relative;
}

.topbarSearchUserLists {
    position: absolute;
    top: 34px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 16px -8px rgb(0 0 0 / 68%);
    list-style: none;

}

.searchUserLink {
    width: 100%;
    display: block;

}


.topbarSearchUserLists li:hover {
    background-color: rgb(233, 233, 233);
}

.topbarSearchUserLists a {
    color: black;
    display: flex;
    align-items: center;
}

.topbarSearchUserLists a img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;

}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;

}

.searchInput {
    border: none;
    width: 70%;
}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.topbarIcons {
    display: flex;
}

.topbarIconItem {
    margin-right: 20px;
    cursor: pointer;
    position: relative;

}

.topbarIconBadge {
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;

}

.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.topbarAvtarParent {
    position: relative;
}




.chatLink {
    color: white;
}