.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.messageBody {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.messageProfile {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
}

.messageText {
    background-color: #1877f2;
    border-radius: 15px;
    color: white;
    max-width: 60%;
    padding: 10px;
    word-wrap: break-word;
}

.messageTime {
    font-size: 11px;
}

.alignEnd {
    align-items: end;
    padding-right: 10px;
}

.justifyContentEnd {
    justify-content: end;
}

.bgGray {
    background-color: rgb(248, 244, 244);
    color: black;
}